header {
  height: 175px;
  background-position: center center;
  background-size: 1700px 250px;
  background-repeat: no-repeat;
  text-shadow: 2px 1px 0px black;
}

body {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: 'ZCOOL XiaoWei', serif;
  background: url(./images/iloilo-city-china-macro-store-future-time-chinese-download-png-chinese-png-1250_550.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-color: #fef8e5;
  text-align: center;
  cursor: url(./images/cow-face-samsung.png), auto;
  font-weight: bolder;
}

.startBtn {
  margin: 0 auto;
  width: 200px;
  height: 75px;
  text-align: center;
  font-size: 3rem;
  background-color: #f5ac27;
  border-radius: 5%;
  display: flex;
  justify-content: center;
}

.homepage-mid {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.side-bar {
  margin: 0 auto;
}

.directions {
  margin: 50px 50px 50px 50px;
  height: 550px;
  width: 650px;
  padding: 20px 40px 20px 40px;
  line-height: 1;
  padding-bottom: 20px;
  background: -webkit-linear-gradient(
    bottom,
    rgba(254, 248, 229, 1),
    rgba(254, 248, 229, 0)
  );
}

p,
.li {
  font-size: 1.4rem;
  font-weight: bold;
}
.homepage-side-left {
  width: 200px;
  height: 500px;
  background: -webkit-linear-gradient(
    bottom,
    rgba(254, 248, 229, 1),
    rgba(254, 248, 229, 0)
  );
}
.homepage-side-right {
  width: 200px;
  height: 500px;
  background: -webkit-linear-gradient(
    bottom,
    rgba(254, 248, 229, 1),
    rgba(254, 248, 229, 0)
  );
}

a {
  text-decoration: none;
  color: #cc232a;
}
